@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');
@import './tailwind.css';
@import './theme.css';

body {
  font-family: var(--font-family-base);
  background-color: #F0F0F0;
}

#root {
  width: 100%;
  max-width: 512px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: hsl(var(--background));
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
}